:root {
  --background-color: var(--tg-theme-bg-color);
  --text-color: var(--tg-theme-text-color);
  --button-background-color: var(--tg-theme-button-color);
  --button-text-color: var(--tg-theme-button-text-color);
  --header-background-color: var(--tg-theme-header-bg-color);
  --accent-text-color: var(--tg-theme-accent-text-color);
}

body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: #f0f0f0;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 100%;
  margin: 20px;
  padding: 20px;
  background-color: #fff;
  border-radius: 12px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.recipient-area,
.subject-area {
  margin-bottom: 20px;
}

.email-area textarea {
  height: 150px;
  /* Adjust the height as needed for message */
}

.ai-prompt-area textarea {
  height: 100px;
  /* Adjust the height as needed for AI prompt */
  margin-bottom: 20px;
}

label {
  display: block;
  font-weight: bold;
  margin-bottom: 10px;
  color: #333;
}

textarea {
  width: 93%;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: #f5f5f5;
  color: #333;
  resize: vertical;
}

/* AI Prompt Area Styling */
.prompt-container {
  display: flex;
  flex-direction: column;
}

.ai-prompt-area textarea {
  margin-bottom: 20px;
}

.buttons {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.button {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 12px 0;
  font-size: 16px;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  width: 100%;
}

.button:hover {
  background-color: #0056b3;
}

.button:disabled {
  background-color: #cccccc;
  cursor: not-allowed;
}

.generate-btn {
  background-color: #28a745;
}

.send-btn {
  background-color: #dc3545;
}

.generate-btn:hover {
  background-color: #218838;
}

.send-btn:hover {
  background-color: #c82333;
}

.crypto-news-container {
  padding: 20px;
  background-color: #f0f0f0;
  border-radius: 12px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin: 20px;
}

.news-evaluation {
  text-align: center;
  color: #333;
  margin-bottom: 20px;
  margin-top: 0;
}

.news-container {
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 20px;
}

.header-row {
  display: flex;
  font-weight: bold;
  border-bottom: 2px solid #e1e1e1;
  padding-bottom: 8px;
}

.header-column {
  flex: 4;
  padding: 8px;
}

.type-column {
  flex: 1;
  padding: 8px;
}

.news-row {
  display: flex;
  border-bottom: 1px solid #e1e1e1;
  padding: 8px 0;
}

.button {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 12px 0;
  font-size: 16px;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  width: 100%;
}

.button:hover {
  background-color: #0056b3;
}

.technical-analysis-container {
  padding: 20px;
  background-color: #f0f0f0;
  border-radius: 12px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin: 20px;
}

.technical-analysis-container h1 {
  color: #333;
  text-align: center;
  margin-bottom: 20px;
}

.output-area,
.input-area {
  margin-bottom: 20px;
}

.output-area textarea {
  width: 93%;
  height: 150px;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 8px;
  background-color: #fff;
  color: #333;
  resize: vertical;
}

.input-area input {
  width: 93%;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 8px;
  background-color: #fff;
  color: #333;
  margin-right: 10px;
}

.input-area button {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 12px 20px;
  font-size: 16px;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s;
  width: 100%;
  margin-top: 10px;
}

.input-area button:hover {
  background-color: #0056b3;
}

.chart-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
  padding-left: 10px;
}

.justified-text {
  text-align: justify;
  color: #333;
}

.analysis-loader {
  text-align: center;
  margin: 100px 0px;
}

.textarea-container {
  position: relative;
}

.textarea-container .loader {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(255, 255, 255, 0.8);
  padding: 10px;
  border-radius: 5px;
  z-index: 1;
}

.textarea-container.loading textarea {
  opacity: 0.5;
}


















.container-navigation {
  max-width: 390px;
  width: 90%;
  background-color: transparent;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  padding: 20px;
}

.navigation-header {
  text-align: center;
  color: black;
  margin-top: 0;
  padding-top: 20px;
}

.item {
  text-align: center;
}

.inner {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 220px 220px 220px;
  gap: 10px;
}

.img {
  width: 100%;
  max-width: 150px;
  height: auto;
  border-radius: 10px;
  margin: auto;
}

.btn {
  display: block;
  padding: 10px 20px;
  border: none;
  background: var(--button-background-color);
  border-radius: 10px;
  color: var(--button-text-color);
  text-transform: uppercase;
  font-weight: 700;
  width: 90%;
  text-align: center;
  margin: 10px auto;
}

.div-center {
  text-align: -webkit-center;
  margin-top: 30px;
}

.right-align {
  position: absolute;
  top: 10px;
  right: 10px;
}

button .link-reset {
  color: inherit !important;
  text-decoration: none !important;
}